# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/.name
.idea/artifacts/
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
KitePeoject.iml
kite-common/kitecommon.iml
kite-common/src/test/
kite-dao/kitedao.iml
kite-dao/src/
kite-entity/kiate-entity.iml
kite-entity/kiteentity.iml
kite-entity/src/
kite-service/kiteservice.iml
kite-service/src/
kite-web/kiteweb.iml
kite-web/src/main/java/org/aichs/kite/WebSocket/
kite-web/src/main/java/org/aichs/kite/controller/
kite-web/src/test/
kite-web/target/
